<footer>
    <div class="footerInfo">
        <div class="socials">
            <i class="fa-brands fa-facebook-f"></i>
            <i class="fa-brands fa-square-instagram"></i>
            <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="copyright"> &copy; TravelGo Private Limited, Developed By : Ankit Verma</div>
        <div class="links">
            <a href="/privacy">Privacy</a> &nbsp; &nbsp;
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>