<% layout("/layouts/boilerplate") %>
<body>
    <h3>All Listings</h3>
    <!-- <form method="get" action="/listings/new">
        <button>Create New Listing</button>
    </form> -->
<div class="row row-cols-lg-3 row-cols-md-2 row-cols-sm-1">
    <% for(let listing of allListings){ %>
        <a href="/listings/<%= listing._id %>" class="cardlink">
            <div class="card col" ">
                <img src="<%= listing.image %>" class="card-img-top" alt="listingImage" style= "height: 18rem;">
                <div class="card-img-overlay"><i class="fa-solid fa-mountain-sun"></i><span class="fs-4 fw-bold" style="font-family: 'Trebuchet MS', serif;">
                    <span style="color: rgb(77, 77, 77);">Travel</span><span style="color: rgb(255, 102, 125);">Go</span>
                    </span></div>
                <div class="card-body">
                    <p class="card-text">
                        <b><%= listing.title %></b> <br>
                        &#8377 <%= listing.price.toLocaleString("en-IN") %> /Night
                    </p>
                </div>
            </div>
        </a>
    <% } %>
</div>

